<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!-- <class name="POST_test"/> -->
       <class name="GetBooking"/>     
       <class name="CreateBooking"/> 
       <class name="UpdateBooking"/> 
       <class name="PartialUpdateBooking"/>
       <class name="DeleteBooking"/>         
        
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
